@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.enlaces {
  text-decoration: none;
  font-size: 20px;
}

.encabezado {
  border: 5px black solid;
  padding: 10px;
}

/*header*/
header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.862);
  padding: 0 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: lowercase;
  color: blueviolet;
  font-weight: 200;
}

.menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  display: none;
  transition: 0.4s;
  cursor: pointer;
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: aqua;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .enlaces {
    display: none;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .mostrar-menu,
.esconder-menu {
    display: block;
  }
}
.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: red;
  right: 100%;
  text-align: center;
  top: 0;
  padding: 100px 0px;
  z-index: 100;
  transition: 0.4s;
}

.menu a {
  display: block;
  padding: 20px;
}

.esconder-menu {
  position: absolute;
  top: 40px;
  right: 40px;
}

#check:checked ~ .menu {
  right: 0;
}

.icono {
  width: 100px;
  height: 60px;
  border: 5px rgb(255, 255, 255) solid;
  border-radius: 50px;
}

.form-label {
  color: white;
}

.mb-3 {
  color: rgb(255, 255, 255);
  text-align: center;
}

main {
  margin: 5%;
}

/*caja-producto*/
section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10%;
}

.caja {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(177, 175, 175);
  border: 3px rgb(0, 0, 0) solid;
  width: 32%;
  border-radius: 5%;
  margin: 0.3%;
}

.imagen {
  width: 100%;
  height: 50%;
  border-radius: 5%;
}

.precio {
  display: inline;
  color: blue;
}

.agregar {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  text-decoration: none;
  font-size: 100%;
  width: 30%;
  padding: 5px;
  text-align: center;
}

.nombre {
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 200%;
  height: 5%;
}

.pya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5%;
}

.cantidad {
  width: 12%;
}

.cyp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2.5%;
  width: 100%;
  text-align: center;
}
.cyp .precio {
  color: green;
}

@media (max-width: 768px) {
  .caja {
    width: 80%;
  }
}
.oferta {
  background-color: rgb(87, 87, 87);
  border: 1% black solid;
  border-radius: 4%;
}
.oferta h1 {
  text-align: center;
  color: blue;
  font-size: 60px;
  width: 100%;
}
.oferta .caja {
  margin-left: auto;
}

.iconos {
  display: flex;
}
.iconos .nombre-iconos:hover {
  color: blue;
}

.container {
  height: 10px;
}

/* Importación de fuentes de google fonts */
body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg");
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: black;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: black;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

/*texto-quienes-somos*/
body {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.parrafo {
  width: 60%;
  height: 600%;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  background: #fff;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  text-align: justify;
  margin: auto;
}

.parrafo img {
  width: 30%;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
}

.local {
  width: 80%;
  margin: 10%;
}

.destacados {
  width: 100%;
  font-size: 300%;
  color: blue;
  text-align: center;
}

.fotoInicio {
  width: 100%;
}

.p-d {
  text-align: center;
  margin-top: 5%;
  color: blue;
  font-size: 300%;
}

/*# sourceMappingURL=estilo.css.map */
