/*texto-quienes-somos*/
body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  
  }
    .parrafo{
        width: 60%;
        height: 600%;
        padding: 20px 20px;
        font-size: 15px;
        line-height: 1.5;
        background: #fff;
        box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
        border-radius: 5px;
        text-align: justify;
        margin: auto;
    }
    .parrafo img{
        width: 30%;
        border-radius: 5px;
        float: left;
        margin-right: 15px;
    }
  .local{
    width: 80%;
    margin: 10%;
  }
  .destacados{
    width: 100%;
    font-size: 300%;
    color: blue;
  text-align: center;
  }